<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/e6/52/d3/e652d3692309b9edada209878296e220.jpg);">
  <div class="container">
    <h1>This is the only <strong>movie list</strong> you will ever <strong>need</strong>!</h1>
    <p>Prepare to lose whatever social life you had left...</p>
  </div>
</div>

<div class="container">
  <h1 class="text-center my-4">List Mainframe</h1>
  <%= link_to "Insert List", new_list_path, class: "btn btn-primary mb-3" %>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media2.giphy.com/media/10QqGj0eqGOWIw/giphy.gif)">
      <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
